.project-header {
  background-color: var(--accent-color);
  color: var(--white);
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-skills-circle {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 15px;
  right: 15px;
}

.project-content {
  padding: 15px;
  background-color: var(--background-color);
  color: var(--text-color);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease;
}

.project-content.open {
  max-height: 100000px;
  padding: 15px;
}

.project-links {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.project-image {
  animation: zoomIn 0.5s ease-in-out;
}

.project-images {
  margin-top: 15px;
  max-width: 800px;
  max-height: 800px;
  margin-left: auto;
  margin-right: auto;
}
