.navbar {
  overflow: hidden;
  background-color: var(--background-color);
  border-bottom: solid 1px var(--accent-color);
  position: relative;
  width: 100%;
  z-index: 10;
}

.menu-icon {
  display: none !important;
  cursor: pointer;
  color: var(--white);
  padding: 14px 16px;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.navbar-item {
  flex: 1;
}

.navbar-item a {
  display: block;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-item a:hover {
  background-color: var(--background-color-hover);
  border-bottom: 2px solid var(--accent-color);
}

.navbar-item.active {
  border-bottom: 2px solid var(--accent-color);
}

@media screen and (max-width: 600px) {
  .menu-icon {
    display: block !important;
  }
  .navbar-menu {
    display: none;
    flex-direction: column;
  }
  .navbar-menu.open {
    display: flex;
  }
  .navbar-item {
    text-align: center;
  }
}