.footer {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  border-top: 1px solid var(--accent-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background-color);
  z-index: 10;
}

.footerbox {
  padding-top: 100px;
}
