:root {
  --white: #eeeeee;
  --text-color: #f0f0f0;
  --secondary-text-color: #d4d4d4;
  --primary-color: #007acc;
  --primary-color-hover: #005fa3;
  --secondary-color: #009e60;
  --secondary-color-hover: #007a4a;
  --background-color: #1c1c1c;
  --background-color-hover: #121212;
  --accent-color: #ff6b00;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  font-size: 1.25em;
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
}

h1 {
  color: var(--accent-color);
}

.hero {
  background-color: var(--background-color-hover);
  padding: 20px 10px;
  text-align: center;
  border-bottom: 1px solid var(--secondary-color);
}
