@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Cuprum:wght@400;700&display=swap');

:root {
  --white: #ffffff;
  --text-color: #ffffff;
  --secondary-text-color: #d7d7d7;
  --primary-color: #6c739a;
  --primary-color-hover: #5a6081;
  --secondary-color: #424669;
  --secondary-color-hover: #2e314a;
  --background-color: #393d5b;
  --background-color-hover: #1d1f2e;
  --accent-color: #f7b079;
}


body {
  margin: 0;
  font-family: 'Asap', Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cuprum', Arial, sans-serif;
}
